# Visit <https://editorconfig.org/> for more information.

root = true

[*]
indent_style             = space
indent_size              = 2
tab_width                = 4
end_of_line              = lf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true
max_line_length          = off

[*.js]
indent_style             = tab

[*.{md,txt}]
indent_size              = 4
trim_trailing_whitespace = false

[*.py]
indent_size              = 4

[**/Makefile*]
indent_style             = tab
tab_width                = 4

[ChangeLog]
indent_style             = tab
indent_size              = 4
