[Desktop Entry]
Version=1.1
Type=Application
Name=I-Nex
GenericName=System hardware inventory/identification
Comment=Display (and share) a highly detailed system hardware inventory
TryExec=/usr/bin/i-nex.gambas
Exec=i-nex.gambas
Icon=i-nex
Categories=System;
Keywords=i-nex;hardware;library;inventory;components;libcpuid;gpu;cpu;
Terminal=false
StartupNotify=true
StartupWMClass=i-nex.gambas
DBusActivatable=false
NoDisplay=false
Hidden=false
Actions=Library;

[Desktop Action Library]
Name=Display major system library versions
Icon=i-nex
Exec=i-nex.gambas --library
