Source: i-nex
Section: utils
Priority: optional
Maintainer: eloaders <eloaders@linux.pl>
Uploaders: Peter J. Mello <admin@petermello.net>
Build-Depends: debhelper-compat (= 12), imagemagick, libcpuid-dev, lsb-release,
 pkg-config, gambas3-dev (>= 3.8.4~), gambas3-gb-desktop (>= 3.8.4~),
 gambas3-gb-desktop-x11, gambas3-gb-form (>= 3.8.4~),
 gambas3-gb-image (>= 3.8.4~), gambas3-gb-qt5
Standards-Version: 4.5.0
Homepage: https://i-nex.linux.pl/
Vcs-Git: https://github.com/eloaders/I-Nex.git
Vcs-Browser: https://github.com/eloaders/I-Nex
Rules-Requires-Root: no

Package: i-nex
Architecture: any-amd64 any-i386
Depends: libcpuid14, mesa-utils, pastebinit, gambas3-gb-desktop (>= 3.8.4~),
 gambas3-gb-desktop-x11, gambas3-gb-form (>= 3.8.4~),
 gambas3-gb-image (>= 3.8.4~), gambas3-gb-qt5, gambas3-runtime (>= 3.8.4~),
 ${shlibs:Depends}, ${misc:Depends}
Recommends: lsb-release, mount, pciutils, x11-utils, x11-xserver-utils
Replaces: i-nex (<< 0.6.0~)
Description: probe and view system architecture and device information
 I-Nex is an application that gathers information about system hardware
 components and organizes them into shareable, easy-to-understand reports useful
 for debugging errors identifying possible upgrade paths. It was inspired by and
 provides an interface similar to the popular Windows tool, CPU-Z.
