#!/usr/bin/make -f
# -*- mode: makefile-gmake; coding: utf-8 -*-

BASH_PATH                  ::= $(shell which bash)
DEB_BUILD_MAINT_OPTIONS    ::= hardening=+all
DH_VERBOSE                 ::= 1
DPKG_EXPORT_BUILDFLAGS     ::= 1
SHELL                      ::= $(shell realpath -Leq $(BASH_PATH))
SHELL                       ?= /bin/sh
UBUNTUVER                  ::= $(shell lsb_release -rs | cut -c-5)

ifeq ($(shell dpkg-vendor --query Vendor),Ubuntu)
ifneq ($(UBUNTUVER),$(shell printf "$(UBUNTUVER)\n17.10\n" | sort -g | head -1))
	DEB_BUILD_MAINT_OPTIONS += future=+lfs
	DPKG_EXPORT_BUILDTOOLS ::= 1
    include /usr/share/dpkg/buildtools.mk
endif
ifneq ($(UBUNTUVER),$(shell printf "$(UBUNTUVER)\n19.04\n" | sort -g | head -1))
	DEB_BUILD_MAINT_OPTIONS += reproducible=+fixfilepath
endif
endif

include /usr/share/dpkg/default.mk
export DEB_BUILD_MAINT_OPTIONS DH_VERBOSE


%:
	dh $@ -v


override_dh_autoreconf:
	dh_autoreconf -O-v -DI-Nex

override_dh_auto_configure:
	cd I-Nex && ./configure --build=$(DEB_HOST_MULTIARCH) --prefix=/usr \
		--sysconfdir=/etc --runstatedir=/run --localstatedir=/var \
		--libdir=/usr/lib/$(DEB_HOST_MULTIARCH) --includedir=/usr/include\
		--infodir=/usr/share/info --mandir=/usr/share/man --disable-silent-rules

override_dh_auto_install:
	dh_auto_install -O-v --exclude=$(CURDIR)/debian/i-nex/usr/bin/i-nex \
		--exclude=$(CURDIR)/debian/i-nex/usr/share/doc/i-nex/Changelog.md --
